
/* source-code-pro-regular - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'),
       url('../fonts/source-code-pro-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('../fonts/source-code-pro-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-code-pro-600 - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Code Pro Semibold'), local('SourceCodePro-Semibold'),
       url('../fonts/source-code-pro-v6-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('../fonts/source-code-pro-v6-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-300 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: local('Merriweather Light'), local('Merriweather-Light'),
       url('../fonts/merriweather-v8-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v8-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* merriweather-regular - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'),
       url('../fonts/merriweather-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v8-latin-regular.woff') format('woff'); /* Modern Browsers */
}

/* merriweather-300italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  src: local('Merriweather Light Italic'), local('Merriweather-LightItalic'),
       url('../fonts/merriweather-v8-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v8-latin-300italic.woff') format('woff'); /* Modern Browsers */
}

/* merriweather-italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'),
       url('../fonts/merriweather-v8-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v8-latin-italic.woff') format('woff'); /* Modern Browsers */
}

/* merriweather-700italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'),
       url('../fonts/merriweather-v8-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v8-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

/* merriweather-700 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'),
       url('../fonts/merriweather-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v8-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* merriweather-900 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local('Merriweather Heavy'), local('Merriweather-Heavy'),
       url('../fonts/merriweather-v8-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v8-latin-900.woff') format('woff'); /* Modern Browsers */
}

/* merriweather-900italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local('Merriweather Heavy Italic'), local('Merriweather-HeavyItalic'),
       url('../fonts/merriweather-v8-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v8-latin-900italic.woff') format('woff'); /* Modern Browsers */
}


body {
	font-family: "Merriweather";
}

.heading {
}

.cell {
	display:inline-block;
	
}

.cell.left {
	width:200px;
}

.alumno .cell.left {
	width:198px;
	border-right:1px dashed gray;
}

.alumnos{
	min-width: 200px;
}
.alumno {
	padding-top:2px;
	padding-bottom:2px;
	border-bottom:1px solid gray;
	
	-webkit-user-select: none;
	user-select: none;	
}

.alumno:nth-child(even){
	background-color:#ebebeb;
	
}
.number{
	display:inline-block;
	margin-left:-5px;
	padding:0 1px 0 0;
	width:24px;
	border-right:1px dashed gray;
	text-align:right;
}
.number .val {
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 600;
}

.heading .cell.left {
	margin-right:20px;
	display:inline-block;
	position:relative;
	top:4px;
	border-bottom: solid 1px black;
	width:200px;
}


.cell.act {
	height:20px;
	transform:rotate(-90deg);
	white-space: nowrap;
	transform-origin: left bottom 0;
	overflow:visible;
	border-left: solid 1px black;
	border-right: solid 1px black;
	border-bottom: solid 1px black;
	border-top: solid 1px black;
	padding: 2px 0 2px 5px;
	z-index:-1;
	width: calc(200px +				10px);
	margin-right: calc(-186px -		10px);
}

.add_activity {
	height: calc(137px +			10px);
	width:23px;
	vertical-align: bottom;
	margin-left: -25px;
	margin-bottom: 70px;
}

input.add_calc {
	width:calc(55px +				10px);
	position:relative;
	z-index:10;
	margin-left: -5px;
	white-space:normal;
	font-size:18px!important;
	transform:rotate(-90deg);
	transform-origin: left bottom 0;
}

input.cell.act {
	width:calc(200px +				10px);
	margin-right:calc(-187px -		10px);
	position:relative;
	z-index:10;
	white-space:normal;
	
}

.notes.selected {
	background-color: #1A5A76;
	color: white;
}


.selected {
	background-color: #AFe594;
}

.cell_comm_edit{
	background-color: #1A5A76;
	color: white;

}

.editing {
	background-color: #f9ffc8;
}

input[type='button']
{
	border: solid 1px #638a00;
	border-radius: 3px;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
	font-size: 20px;
	color: #ffffff;
	padding: 0;
	background : -webkit-linear-gradient(top, #188644 0%, #005F26 100%);
	background : -moz-linear-gradient(top, #188644 0%, #005F26 100%);
}

input[type='button']:hover{
	background : -webkit-linear-gradient(top, #6CAA1F 0%, #427800 100%);
	background : -moz-linear-gradient(top, #6CAA1F 0%, #427800 100%);
}

.add_student {
	width:200px;
	height:23px;
}



.block {
	display:block;
}

.notes {
	position: absolute;
	top:0;
	right:0px;
	width:500px;
	padding-top:20px;
	height:100%;
	border: 1px solid gray;
}
.notes h2, .notes h3, .notes p, .notes ul {
	padding-right:20px;
	padding-left:20px;
}
.cke {
	margin-top: 50px !important;
	width:500px !important;
}
.cke_inner {
	
	width:500px !important;
}
.notes .stName{
	
	font-size:20px;
	margin-bottom:10px;
	border-bottom: 1px solid gray;
}
.notes .actName {
	font-size:18px;
	text-decoration: underline;
	padding-bottom:5px;
}
.notes .text{
	border-bottom: 1px solid gray;
	text-align: justify;
	padding-bottom:10px;
}

.hidden{
	display: none;
}
button.commit {

}
















